<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>{% block title %}World-News{% endblock %}</title>
		<link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}"/>
		<style>{% include 'static_files/assets/loader.css'%}</style>
		<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"/>
		<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/jquery/jquery-3.6.1.js' %}"></script>
        {% block head %} {% endblock %}
    </head>

    <body>
		<div id="overlay">
			<div class="cv-spinner">
				<span class="spinner"></span>
			</div>
		</div>
    	<!-- HEADER -->
    	<header>
			<img src="{% static 'assets/images/headerlogo.png' %}" class="header-image" alt="World News">
		</header>
	  	<!-- HEADER END-->
		
        <!-- partial:partials/_navbar.html -->
        {% include 'news/partials/_navbar.html' %}      
        <!-- partial -->
        
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
		
		<!-- partial:partials/_footer.html -->
		{% include 'news/partials/_footer.html' %} 
		<!-- partial -->
		<script type="text/javascript">
			{% include 'static_files/js/base.js' %}
			{% include 'static_files/js/_navbar.js' %}
		</script>
        {% block javascript %}{% endblock %}
    </body>
</html>
