<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}EzCompiler{% endblock %}</title>
		<link rel="shortcut icon" href="{% static 'assets/images/favicon.jpg' %}"/>
		<link rel="stylesheet" href="{% static 'assets/loader.css' %}"/>
		<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"/>
		<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>	
		<style>{% include 'app_home/css/homepage.css'%}</style>
    </head>

    <body>
		<div id="overlay">
			<div class="cv-spinner">
				<span class="spinner"></span>
			</div>
		</div>
		{% include 'app_home/html/_header.html' %}   
        
		{% block content %}
		{% endblock %}
		
		<script type="text/javascript" src="{% static 'assets/jquery/jquery-3.6.1.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script type="text/javascript">
			{% include 'app_home/js/homepage.js' %}
		</script>
    </body>
</html>
